
/* .wrapper{
    position: absolute;
    content: "";
    width: 390px;
    height: 195px;
    right: -100px;
    top: 0;
    background: url(https://www.crinet.io/template/resources/images/bg_hero-top.svg) no-repeat;
    background-size: contain;
} */
.seed-card{
    position: relative;
    top:50px;
    background-image: linear-gradient(to right, rgba(20, 95, 233, 0.877),rgba(150, 7, 206, 0.808));
    border-radius: 20px;
    height: auto;
    padding: 10px;
}
.btn-filed{
    position: absolute;
    border: none;
    background-color: rgba(228, 214, 233, 0.295);
    color: #fff;
    border-radius: 5px;
    float: right;
    top:20px;
    right: 20px;
    font-size: 14px;
    padding: 0 10px;
}
.bold-line{
    width: 90%;
    height: 14px;
    background-image: linear-gradient(to right,  rgba(20, 95, 233, 0.877),rgba(150, 7, 206, 0.808));
    border-radius: 20px;
    margin-top: 40px;
}
.private-bnb{
    width: 90%;
    display: flex;
    margin: 10px auto;
    justify-content: space-between;
    color:#fff;
    font-size: 14px;
}
.field-in{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.invest-cnt{
    position: relative;
    background-color: rgba(122, 161, 235, 0.192);
    display: flex;
    padding:5px 5px;
    border-radius: 20px;
    color:#fff;
    align-items: center;
    width: 260px;
    bottom: -20px;
}
.invest-cnt img{
    width: 30px;
}
.calculation-box{
    color: rgba(255, 255, 255, 0.575);
}
.timing{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}
.time{
    margin: 10px;
    background-color: rgba(155, 183, 235, 0.192);
    border-radius: 10px;
    color:#fff;
    align-items: center;
    padding:10px 30px;
}
.invisitor{
    padding-bottom: 20px;
}

@media  only screen and (max-width:762px) {
    .field-in{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .invest-cnt{
        position: relative;
        margin-top: -10px;
        margin-bottom: 20px;
        padding: 10px 10px;
        align-items: center;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .seed-card{
        padding-bottom: 30px;
    }
    .trig-text{
        display: none;
    }
}